body {
    background-color: rgb(7, 11, 28);
  }

  

.custom-hover:hover::before {
    content: "-> ";
    position: absolute;
    left: -40px;
}

.sidebar, .nav{

    width: 200px;
}

.projects, .home {
    overflow-y: auto;
    margin-left: 500px;
    height:80vh;
    max-height: 1000px;
    width: 600px; 
    margin: auto;
    padding: 20px;
}

.projects::-webkit-scrollbar {
    width: 10px;
}

.projects::-webkit-scrollbar-thumb {
    background: #1f1e1e;  
}

.projects::-webkit-scrollbar-thumb:hover {
    background: #373636;  
}

.slide-in {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: bottom;
    z-index: 1; /* Add this */
  }
  
  .slide-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: black;
    transform-origin: top;
    z-index: 1; /* Add this */
  }
  
  /* Add this for your pages */
  .page {
    position: relative;
    z-index: 2; /* This should be higher than the z-index of slide-in and slide-out */
  }
